/*
*
*/


body{
  background-color: #F0F0F0;
  background-image:url("http://evospace.org/images/bedge_grunge.png");
}

header
{
padding-top:15px;
/*
background-color:#F0F0F0;    
*/
}

nav h4
{
  border-bottom:4px double #373737;
  margin-bottom:10px;  
  font-weight:bold;
}

#get_more
{
    
    
}

.frame img { width: 100%; }
    .frame {height: 30px; overflow: hidden; margin-bottom: 4px;}
a.fitness , a.fitness :link, a.fitness :visited
{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

/* Grid Items
================================================== */

.hidden {
     display: none;
}

.paint_name{
    font-weight: bold;
    color: #333;
    margin-left: 10px;

}

.grid-item {
margin-bottom: 20px;
width:315px;  
height:480px;
float:left;
overflow: hidden;  
position: relative;
}





.grid-item canvas{
 box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); 
 position: relative;
 border: 8px solid;
 border-color:#FFF;
 margin: 2% 2% 2% 2%;	
}

.grid-item canvas.ilike
{
border-color: #669966;	
}


.boxcaption{  
    float: left;  
    position: absolute;
    top: 570px;  
    background: #FFF;  
    height: 50px;  
    width: 318px;
    opacity: .8;  
    /* For IE 5-7 */  
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);  
    /* For IE 8 */  
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";  
    }

    .slidedown .boxcaption {  
        top: -950px;  
        left: 0;  
    }  
    .caption .boxcaption {  
        top: -1000px;  
        left: 0;  
    }

   .slideup .boxcaption {  
        top: 760px;  
        left: 0;  
    }